
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.App {
  text-align: center;
  font-family: "Cabin", sans-serif;
}


.description {
  overflow: hidden;
  transition: max-height 0.6s, opacity 0.4s, visibility 0.5s;
  max-height: 1000; 
  visibility: visible;
  opacity: 1;
}

.collapsed {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

.expanded {
  max-height: 1000px; 
  visibility: visible;
  opacity: 1;
}



